.button{
  padding: 10px 15px 11px;
  width:100%;
  height:310px;
font-size: 24px;
background-color: #0099FF;
font-weight: bold;
text-shadow: 1px 1px #0066FF;
color: #ffffff;
-webkit-border-radius: 5px;
border: 1px solid #0066FF;
cursor: pointer;
box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
}
